<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpineHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SpineHelper.Properties.Settings>
            <setting name="SpineAMO" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WeightGrams" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoAddToHistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>1200, 600</value>
            </setting>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="AutoUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DebugMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HistoryClearConfirmation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HistoryRemoveConfirmation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveLoadConfirmation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HistoryHiddenColumns" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SimplifiedConnectionInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowFOC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LatestVersion" serializeAs="String">
                <value>1</value>
            </setting>
        </SpineHelper.Properties.Settings>
    </userSettings>
</configuration>